<form *ngIf="state.form" [formGroup]="state.form">
  <de-re-crud-field-host *ngFor="let field of fields"
                         [formId]="navigationId"
                         [field]="field">
  </de-re-crud-field-host>
  <de-re-crud-button-host type="submit"
                          [formId]="navigationId"
                          [disabled]="!submitEnabled"
                          text="Submit"
                          (click)="onSubmit($event)">
  </de-re-crud-button-host>
  <de-re-crud-button-host *ngIf="cancelVisible"
                          type="cancel"
                          [formId]="navigationId"
                          [disabled]="!cancelEnabled"
                          text="Cancel"
                          (click)="onCancel($event)">
  </de-re-crud-button-host>
</form>
